.color-grid {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
  margin-top: 20px;
}

.color-box {
  height: 60px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.color-box:hover {
  transform: scale(1.1);
}

.selected-text {
  margin-top: 20px;
  font-weight: 700;
  text-align:center;
}
