/* Main Layout */
.auth-page {
  background: #f4f7fb;
  min-height: 100vh;
}

.auth-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Left Side */
.auth-left {
  flex: 1;
}

.big-text {
  font-size: 40px;
  font-weight: 900;
  color: #1e3a8a;
}

.small-text {
  color: #64748b;
  margin-top: 10px;
  max-width: 350px;
}

.auth-img {
  width: 100%;
  margin-top: 20px;
}

/* Right Box */
.auth-box {
  flex: 1;
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}

.auth-title {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 6px;
}

.auth-sub {
  color: #64748b;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.2s;
}

.auth-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 4px #93c5fd;
}

/* Password Box */
.password-box {
  position: relative;
}

.pass-icon {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 18px;
  cursor: pointer;
  color: #475569;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
}

/* Errors */
.auth-error {
  color: red;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Switch */
.switch-text {
  margin-top: 15px;
  color: #64748b;
}

.switch-text a {
  color: #2563eb;
  font-weight: 700;
}

/* Responsive */
@media (max-width: 900px) {
  .auth-container {
    flex-direction: column;
    text-align: center;
  }

  .auth-left {
    order: 2;
  }

  .auth-box {
    width: 100%;
  }
}
